<h1 style="color:blue">
    Log In de Usuario
</h1>

<form method="post">
    <label>Nombre de Usuario: </label>
    <input type="text" name="username"
           class="form-control"/>
    <button type="submit" class="btn btn-danger">
        Log In
    </button>
</form>

